extends ../components/base/layout

block variables
  -
    const
          title = "Bangara — бизнес развивается с нами",
          wrapperMods = "",
          hasHeader = true,
          headerMods = "",
          hasFooter = true,
          footerMods = "",
          currentUrl = "about.html"

block main
  main
    +about-intro()
    +features()
    +examples()

