extends ../components/base/layout

block variables
  -
    const
          title = "ЦФР — IT решения для вашего бизнеса",
          wrapperMods = "",
          hasHeader = true,
          headerMods = "",
          hasFooter = true,
          footerMods = "",
          currentUrl = "agreement.html"

block main
  main
    +agreement()
