extends ../components/base/layout

block variables
  -
    const
          title = "Bangara — бизнес развивается с нами",
          wrapperMods = "",
          hasHeader = false,
          headerMods = "",
          hasFooter = false,
          footerMods = "",
          currentUrl = "error.html"

block main
  main
    +in-work()
