extends ../components/base/layout

block variables
  -
    const
          title = "Bangara — бизнес развивается с нами",
          wrapperMods = "",
          hasHeader = true,
          headerMods = "",
          hasFooter = true,
          footerMods = "",
          currentUrl = "index.html"

block main
  main
    +intro()
    +about()
    +blockquote()
    //- +automation()#about
    +opportunities()#products
    +features()

