extends ../components/base/layout

block variables
  -
    const
          title = "Bangara — бизнес развивается с нами",
          wrapperMods = "",
          hasHeader = true,
          headerMods = "",
          hasFooter = true,
          footerMods = "",
          currentUrl = "partner.html"

block main
  main
    +agent-intro({
      img: {
        name: "partner-intro",
        width: "475",
        height: "432",
        alt: "Приветствуем партнёров."
      },
      text: {
        title: "Уважаемые Партнеры!",
        content: [
            "Мы&nbsp;рады приветствовать вас и&nbsp;выразить искреннюю благодарность за&nbsp;ваш долгосрочный и&nbsp;надежный вклад в&nbsp;нашу работу. Ваше партнерство с&nbsp;нами имеет огромное значение, и&nbsp;мы&nbsp;ценим каждого из&nbsp;вас.",
            "Наше партнерство основано на&nbsp;взаимовыгодных отношениях, взаимном уважении и&nbsp;доверии. Мы&nbsp;стремимся предоставлять вам наилучшие условия для сотрудничества, стабильный поток надежных клиентов и&nbsp;постоянно совершенствуем нашу платформу и&nbsp;предлагаем инновационные решения, чтобы вы&nbsp;могли расширить Ваш бизнес и&nbsp;клиентскую базу нашими совместными усилиями.",
            "Мы&nbsp;также понимаем, что в&nbsp;индустрии, в&nbsp;которой мы&nbsp;действуем, ключевыми факторами успеха являются гибкость, адаптивность и&nbsp;постоянное развитие. Поэтому мы&nbsp;прилагаем все усилия, чтобы вы&nbsp;были в&nbsp;курсе последних трендов и&nbsp;технологических новинок, которые могут помочь вам достичь еще большего успеха.",
            "В&nbsp;ближайшем будущем, мы&nbsp;планируем продолжать расширяться и&nbsp;укреплять наше партнерство со&nbsp;всеми вами. Мы&nbsp;готовы поддерживать и&nbsp;развивать наше сотрудничество, предлагая новые возможности, стратегии и&nbsp;программы, которые помогут вам расти и&nbsp;процветать.",
            "Еще раз выражаем искреннюю благодарность за ваше доверие и партнерство. Вместе мы сможем достичь еще большего!"
          ]
      }
    })

