mixin about(props = {})
  -
    const
          list = [
            {
              title: "Гибкие Решения",
              content: [
                "Bangara понимает, что каждый бизнес уникален. Мы предлагаем гибкие и индивидуальные решения в области банковских гарантий, которые соответствуют вашим конкретным потребностям и обеспечивают ваши интересы."
              ],
              link: "#",
             img: "about-img-1",
            },
            {
              title: "Высокий Стандарт Надежности",
              content: [
                "Наша команда экспертов гарантирует высокий стандарт надежности в каждой выданной гарантии. Мы стремимся к тому, чтобы ваши партнеры и клиенты имели полное доверие к вашей финансовой стойкости."
              ],
              link: "#",
              img: "about-img-2",
            },
            {
              title: "Комплексное Покрытие",
              content: [
                "Наши банковские гарантии охватывают широкий спектр сфер, включая бизнес-сделки, государственные контракты, и проекты в сфере строительства. Мы предоставляем комплексное покрытие, чтобы обеспечить вас в различных областях вашей деятельности."
              ],
              link: "#",
              img: "about-img-3",
            }
          ]



  section.about&attributes(attributes)
    .container
      .about__wrapper
        .about__heading
          .about__title-wrapper
            +title({
              tag: "span",
              text: "Банковские гарантии"
            }).about__title
        ul.about__list
          each item in list
            li.about__item.about-card
              .about-card__img
                +picture({
                  path: "content",
                  name: item.img,
                  format: "png",
                  width: "58",
                  height: "58"
                })
              +title({
                tag: "span",
                text: item.title
              })
              +text({
                content: item.content
              })




