mixin agent-intro(props = {})
  section.agent-intro
    .container
      .agent-intro__wrapper
        .agent-intro__img
          +picture({
            path: "content/bangara",
            name: "agent-intro",
            format: "jpg",
            width: "475",
            height: "432",
            altText: "Приветствуем агентов."
          })

        +title({
          tag: "h1",
          text: "Уважаемые Агенты!"
        })
        +text({
          content: [
            "Мы&nbsp;рады приветствовать вас в&nbsp;качестве участников нашей профессиональной команды! Ваш опыт и&nbsp;экспертиза в&nbsp;данной области являются ценными ресурсами, которые помогут нам достичь высочайших стандартов качества и&nbsp;эффективности.",
            "Наша платформа предлагает уникальные возможности для развития и&nbsp;расширения вашего потенциала. Мы&nbsp;обеспечиваем удобное и&nbsp;интуитивно понятное рабочее пространство, где вы&nbsp;сможете оперативно заводить заявки на&nbsp;любые продукты и&nbsp;услуги ваших клиентов. Наша команда разработчиков трудится над тем, чтобы каждый агент мог максимально эффективно использовать нашу платформу, а&nbsp;также иметь доступ к&nbsp;самым современным инструментам и&nbsp;технологиям.",
            "Мы&nbsp;верим в&nbsp;принцип взаимной поддержки и&nbsp;сотрудничества, поэтому наша команда всегда готова предоставить вам профессиональную помощь и&nbsp;консультацию в&nbsp;любое время. Мы&nbsp;стремимся к&nbsp;тому, чтобы каждый агент чувствовал себя уверенно и&nbsp;поддерживаемым в&nbsp;своей работе.",
            "Вместе, мы&nbsp;будем достигать новых высот и&nbsp;устанавливать новые стандарты в&nbsp;нашей отрасли с&nbsp;максимальной для вас доходностью! Мы&nbsp;уверены, что ваше участие и&nbsp;вклад в&nbsp;деятельность нашей платформы приведут к&nbsp;совместному успеху и&nbsp;процветанию.",
            "Благодарим вас за&nbsp;доверие и&nbsp;готовность присоединиться к&nbsp;нашей команде. Мы&nbsp;с&nbsp;нетерпением ждем начала нашего плодотворного сотрудничества.",
            "С уважением,<br>Команда «Bangara»."
          ]
        })
