mixin agreement()
  .agreement
    .container
      .agreement__wrapper
        .agreement__text
          ol
            li Общие положения
              ol
                li &nbsp;ООО &laquo;Цифровые финансовые решения&raquo; (далее по&nbsp;тексту&nbsp;&mdash; Оператор) ставит соблюдение прав и&nbsp;свобод граждан одним из&nbsp;важнейших условий осуществления своей деятельности.
                li Политика Оператора в&nbsp;отношении обработки персональных данных (далее по&nbsp;тексту&nbsp;&mdash; Политика) применяется ко&nbsp;всей информации, которую Оператор может получить о&nbsp;посетителях веб-сайта centfintech.ru. Персональные данные обрабатывается в&nbsp;соответствии с&nbsp;ФЗ&nbsp;&laquo;О&nbsp;персональных данных&raquo; &#8470;&nbsp;152-ФЗ.
            li  Основные понятия, используемые в&nbsp;Политике:
              ol
                li Веб-сайт&nbsp;&mdash; совокупность графических и&nbsp;информационных материалов, а&nbsp;также программ для ЭВМ и&nbsp;баз данных, обеспечивающих их&nbsp;доступность в&nbsp;сети интернет по&nbsp;сетевому адресу centfintech.ru;
                li Пользователь&nbsp;&mdash; любой посетитель веб-сайта centfintech.ru;
                li Персональные данные&nbsp;&mdash; любая информация, относящаяся к&nbsp;Пользователю веб-сайта centfintech.ru;
                li Обработка персональных данных&nbsp;&mdash; любое действие с&nbsp;персональными данными, совершаемые с&nbsp;использованием ЭВМ, равно как и&nbsp;без их&nbsp;использования;
                li Обезличивание персональных данных&nbsp;&mdash; действия, результатом которых является невозможность без использования дополнительной информации определить принадлежность персональных данных конкретному Пользователю или лицу;
                li Распространение персональных данных&nbsp;&mdash; любые действия, результатом которых является раскрытие персональных данных неопределенному кругу лиц;
                li Предоставление персональных данных&nbsp;&mdash; любые действия, результатом которых является раскрытие персональных данных определенному кругу лиц;
                li Уничтожение персональных данных&nbsp;&mdash; любые действия, результатом которых является безвозвратное уничтожение персональных на&nbsp;ЭВМ или любых других носителях.
            li Оператор может обрабатывать следующие персональные данные Пользователя:
              ol
                li Список персональных данных, которые обрабатывает оператор: номер телефона, адрес электронной почты.
                li Кроме того, на&nbsp;сайте происходит сбор и&nbsp;обработка обезличенных данных о&nbsp;посетителях (в&nbsp;т.ч. файлов &laquo;cookie&raquo;) с&nbsp;помощью сервисов интернет-статистики (Яндекс Метрика, Гугл Аналитика и&nbsp;других).
            li Цели обработки персональных данных
              ol
                li Персональные данные пользователя&nbsp;&mdash; номер телефона, адрес электронной почты&nbsp;&mdash; обрабатываются со&nbsp;следующей целью: Уточнение деталей и&nbsp;отправка заказа клиенту. Оператор имеет право направлять Пользователю уведомления о&nbsp;новых продуктах и&nbsp;услугах, специальных предложениях и&nbsp;различных событиях. Пользователь всегда может отказаться от&nbsp;получения информационных сообщений, направив Оператору письмо на&nbsp;адрес info@centfintech.ru
                li Обезличенные данные Пользователей, собираемые с&nbsp;помощью сервисов интернет-статистики, служат для сбора информации о&nbsp;действиях Пользователей на&nbsp;сайте, улучшения качества сайта и&nbsp;его содержания.
            li Правовые основания обработки персональных данных
              ol
                li Оператор обрабатывает персональные данные Пользователя только в&nbsp;случае их&nbsp;отправки Пользователем через формы, расположенные на&nbsp;веб-сайте centfintech.ru. Отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с&nbsp;данной Политикой.
                li Оператор обрабатывает обезличенные данные о&nbsp;Пользователе в&nbsp;случае, если Пользователь разрешил это в&nbsp;настройках браузера (включено сохранение файлов &laquo;cookie&raquo; и&nbsp;использование технологии JavaScript).
            li Порядок сбора, хранения, передачи и&nbsp;других видов обработки персональных данных
              ol
                li Оператор обеспечивает сохранность персональных данных и&nbsp;принимает все возможные меры, исключающие доступ к&nbsp;персональным данным неуполномоченных лиц.
                li Персональные данные Пользователя никогда, ни&nbsp;при каких условиях не&nbsp;будут переданы третьим лицам, за&nbsp;исключением случаев, связанных с&nbsp;исполнением действующего законодательства.
                li В&nbsp;случае выявления неточностей в&nbsp;персональных данных, Пользователь может актуализировать&nbsp;их, направив Оператору уведомление с&nbsp;помощью электронной почты на&nbsp;электронный адрес Оператора info@centfintech.ru, либо на&nbsp;почтовый адрес Оператора 109028, г.Москва, ВН.ТЕР.Г. МУНИЦИПАЛЬНЫЙ ОКРУГ БАСМАННЫЙ, ПЕР ХОХЛОВСКИЙ, Д. 15, ПОМЕЩ. 3П, с&nbsp;пометкой &laquo;Актуализация персональных данных&raquo;.
                li Срок обработки персональных данных является неограниченным. Пользователь может в&nbsp;любой момент отозвать свое согласие на&nbsp;обработку персональных данных, направив Оператору уведомление с&nbsp;помощью электронной почты на&nbsp;электронный адрес Оператора info@centfintech.ru, либо на&nbsp;почтовый адрес Оператора 109028, г.Москва, ВН.ТЕР.Г. МУНИЦИПАЛЬНЫЙ ОКРУГ БАСМАННЫЙ, ПЕР ХОХЛОВСКИЙ, Д. 15, ПОМЕЩ. 3П, с&nbsp;пометкой &laquo;Отзыв согласия на&nbsp;обработку персональных данных&raquo;.
            li Заключительные положения
              ol
                li Пользователь может получить любые разъяснения по&nbsp;интересующим вопросам, касающимся обработки его персональных данных, обратившись к&nbsp;Оператору с&nbsp;помощью электронной почты info@centfintech.ru, либо на&nbsp;почтовый адрес Оператора 109028, г.Москва, ВН.ТЕР.Г. МУНИЦИПАЛЬНЫЙ ОКРУГ БАСМАННЫЙ, ПЕР ХОХЛОВСКИЙ, Д. 15, ПОМЕЩ. 3П.
                li В&nbsp;данном документе будут отражены любые изменения политики обработки персональных данных Оператором. В&nbsp;случае существенных изменений Пользователю может быть выслана информация на&nbsp;указанный им&nbsp;электронный адрес.
        +button({
          href: "index.html",
          text: "Вернуться назад",
          modifiers: ["view-secondary"]
        }).agreement_back-button
