mixin blockquote(props = {})
  .blockquote
    .container
      figure
        span.blockquote__icon
          +icon("icon-quotes", 48, 36)
        blockquote
          p.blockquote__text Наша услуга по предоставлению банковских гарантий не просто защищает вас от финансовых рисков, но и ставит ваш бизнес в выигрышное положение в сделках, требующих подтверждения финансовой надежности”
        figcaption
          .blockquote__img
            +picture({
              path: "content",
              name: "ceo",
              format: "jpg",
              width: "71",
              height: "94",
              altText: "Константин Бойков"
            })
          span.blockquote__name Константин Бойков
            span.blockquote__separator /
            span.blockquote__position CEO
