mixin intro(props = {})
  section.intro
    .container
      .intro__wrapper
        .intro__content
          +title({
            tag: "h1",
            text: "Ваш <span class='title-gradient title-gradient--pink'>Надежный</span> партенер  в <span class='title-gradient title-gradient--blue'>Банковских гарантиях</span>"
          })
          +text({
            content: [
              "Мы специализируемся на предоставлении качественных финансовых гарантий, обеспечивая ваш бизнес надежной защитой в любых финансовых сделках"
            ]
          })
          +button({
            text: "Присоединиться",
            type: "button",
            modifiers: ["view-secondary"]
          }).login-form__submit
        .intro__img
          +picture({
            path: "content",
            name: "intro",
            format: "png",
            width: "473",
            height: "455",
            altText: "Рабочий процесс."
          })
 

