mixin login(props = {})
  .login.decorated-page
    .decorated-page__decor
      +picture({
        path: "content/bangara",
        name: "login-bg",
        format: "jpg",
        width: "1920",
        height: "1200",
        altText: "Горы на фоне голубого неба."
      })
    .container.container--wide
      .decorated-page__intro
        +text({
          content: [
            "В&nbsp;основе успешного бизнеса лежит стабильность и&nbsp;уверенность в&nbsp;будущем.",
            "Бангара&nbsp;&mdash; ваш надежный партнер!"
          ],
          modifiers: ["space-m"]
        })
        +button({
          text: "Главная",
          href: "index.html",
          modifiers: ["view-clear"]
        }).login__home-btn
      .decorated-page__content
        .login__content
          +logo({
            isIndex: false,
            img: {
              path: "content/logo",
              name: "logo",
              format: "png",
              width: "366",
              height: "127",
              altText: "Bangara"
            }
          })
          +login-form()
