mixin opportunities(props = {})
  -
    const
          list = [
            {
              title: "Надежность",
              content: [
                "Мы стоим на страже ваших интересов, предоставляя гарантии высочайшего уровня. Ваша безопасность — наш приоритет"
              ],
              img: "ShieldPlus",
            },
            {
              title: "Инновации",
              content: [
                "Мы внедряем последние технологии и передовые практики в наши услуги, чтобы ваш бизнес был на переднем крае развития"
              ],
              img: "users",
            },
            {
              title: "Индивидуальный Подход",
              content: [
                "Мы понимаем, что каждый клиент уникален. Мы разрабатываем решения, соответствующие именно вашим потребностям, и стремимся создать индивидуальный опыт сотрудничества"
              ],
              img: "UserPlus",
            },
            {
              title: "Скорость",
              content: [
                "99% заявок обрабатываются системой в течении 15 минут"
              ],
              img: "Speedometer",
            },
        
          ]



  section.opportunities&attributes(attributes)
    .container
      .opportunities__wrapper
        .opportunities__content
          +title({
            tag: "h2",
            text: "Приемущества"
          }).opportunities__title
          .opportunities__row
            .opportunities__why
              +title({
                tag: "span",
                text:"Почему Бангара?"
              })
              +text({
                content: ['Мы гордимся тем, что предоставляем вам не просто банковские гарантии, но и решения, спроектированные поддерживать ваш рост и обеспечивать устойчивость в динамичном мире бизнеса.']
              })
            .opportunities__list
              each item in list
                .opportunities__item.opportunity-card
                  .opportunity-card__content
                    .opportunity-card__img
                      +picture({
                        path: "content",
                        name: item.img,
                        format: "png",
                        width: "50",
                        height: "50"
                      })
                    +title({
                      tag: "span",
                      text: item.title
                    })
                    +text({
                      content: item.content
                    })



