.about-card {
  position: relative;
  display: grid;
  padding: 68px 16px 20px;
  border: 1px solid #dfdfdf;
  border-radius: 22px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: outline $trans-default;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  background: #fafafa;

  &:hover {
    border: 2px solid $color-base-success;  

    .opportunity-card__decor {
      transform: scale(1.2);
    }
  }

  &__img {
    position: absolute;
    top: -16px;
    left: 16px;
  }

  .title {
    font-weight: 600;
    font-size: 20px;
    line-height:137%;
    letter-spacing: -0.03em;
    color: #2d3748;
    overflow-wrap: anywhere;

    @include vp-767 {
      font-size: 20px;
    }
  }

  .text {
    margin-top: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height:  162%;
    letter-spacing: -0.02em;
    color: #4a5568;
  }

  .link {
    align-self: end;
    justify-self: left;
    margin-top: 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
  }
}
