.custom-input,
.custom-textarea {
  display: flex;
  flex-wrap: wrap;

  width: 100%;

  label {
    display: flex;
    width: 100%;
  }

  &--ghost {
    input,
    textarea {
      padding: 15px 20px;
      color: inherit;
      background-color: rgba(242, 243, 244, 0.2);
      border: 1px solid transparent;
      border-radius: 5px;

      &::placeholder {
        color: rgba(187, 181, 224, 0.4);
      }
    }
  }

  &--base {
    position: relative;

    svg {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 15px;
      width: 20px;
      height: 20px;
      transform: translateY(-50%);
    }

    input,
    textarea {
      padding: 17px 45px 14px;
      font: inherit;
      color: inherit;
      border: none;
      background-color: #f8f8f8;
      border: 1px solid transparent;
      border-radius: 10px;

      &::placeholder {
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #6C757D;
      }
    }
  }

  input,
  textarea {
    flex-grow: 1;
    max-width: 100%;
    outline: none;
    transition: opacity $trans-default, border-color $trans-default;
    transform: translateZ(0); // для Safari, где смещается текст при hover

    &::placeholder {
      transition: color $trans-default;
    }

    @include hover {
      opacity: 0.7;
    }

    @include focus {
      opacity: 1;

      &::placeholder {
        color: $color-transparent;
      }
    }
  }

  &.is-invalid {
    input {
      border-color: $color-base-alert;
    }
  }

  &[disabled] {
    label,
    input,
    textarea {
      pointer-events: none;
      user-select: none;
      opacity: 0.5;
    }
  }
}
