.features {
  padding: 30px 0 54px;
  background-color: #fbfaff;

  &__wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }

  .feature {
    margin-top: 70px;

    &:first-child {
      margin-top: 0;
    }
  }
}
