.feature {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: clamp(20px, 5vw, 50px);
  align-items: center;

  @include vp-767 {
    grid-template-columns: minmax(0, 1fr);
    row-gap: 30px;

    .feature__img {
      justify-self: center;
    }
  }

  &--img-right {
    .feature__img {
      grid-column: 2;
      grid-row: 1;
    }

    @include vp-767 {
      .feature__img {
        grid-column: auto;
        grid-row: auto;
      }
    }
  }

  &--img-float {
    display: block;

    .feature__img {
      float: right;
    }

    @include vp-767 {
      display: grid;

      .feature__img {
        float: none;
      }
    }
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 28px;
    line-height: 136%;
    color: #1a202c;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.01em;
    color: #000c2d;
  }

  &__list--margin-size-l {
      .feature__item {
        margin-top: 20px;

        &:first-child {
          margin-top: 0;
        }
      }
  }

  &__item {
    position: relative;
    padding-left: 26px;
  }

  &__icon {
    --icon-size: 16px;
    position: absolute;
    top: 2px;
    left: 0;
    width: var(--icon-size);
    height: var(--icon-size);
  }

  &__text  {
    position: relative;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 187%;
    color: #050505;
    padding-left: 11px;
    &::after {
      content: '';
      position: absolute;
      left: 0px;
      top: 5px;
      display: block;
      width: 3px;
      height: 133px;
      background: linear-gradient(225deg, #f76680 0%, #57007b 100%);
    }
  }

  &__description {
    grid-column: 1 / -1;
    justify-self: center;
  }

  &__img {
    justify-self: center;
  }
  .figcaption-block {
    margin-top: 24px;
    display: flex;
    align-items: center;
    .blockquote__img {
      width: 50px;
      height: 50px;
    }
    .blockquote__name {
      display: flex;
      flex-direction: column;
    }
    .blockquote__data {
      margin-left: auto;
      font-weight: 700;
      font-size: 16px;
      line-height: 187%;
      color: #2d3748;
    }
  }
}
