.feedback-form {
  .custom-input {
    input {
      font-weight: 900;
    }

    input::placeholder {
      color: #bbb5e0;
    }
  }

  &__item {
    margin-top: 24px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__submit {
    width: 100%;
    margin-top: 24px;
  }
}
