.header {
  --header-padding: #{$space-l};

  position: relative;
  z-index: 1;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);

  @include vp-1023 {
    position: relative;
  }

  &__decor {
    --top-offset: 25px;
    position: absolute;
    top: calc(var(--top-offset) * -1);
    left: 50%;
    height: calc(100% + var(--top-offset));
    overflow: hidden;
    transform: translateX(-48%);

    img {
      max-width: none;
      object-fit: cover;
    }

    @include vp-1023 {
      display: none;
    }
  }

  .container {
    @include vp-1023 {
      position: relative;
    }
  }

  &__inner-wrapper,
  &__nav {
    display: grid;
    align-items: center;
    gap: clamp(30px,2vw,40px);
  }

  &__inner-wrapper {
    padding: var(--header-padding) 0;
    grid-template-columns: clamp(240px,23vw,360px) minmax(0, 1fr);

    @include vp-1023 {
      grid-template-columns: minmax(0, 1fr) 80px;
      background-color: #ffffff;
    }
  }

  &__nav {
    grid-template-columns: minmax(0, 1fr) auto;
  }

  .logo {
    width: 100%;
    height: auto;

    &--origin {
      display: block;
    }

    &--small {
      display: none;
    }

    @include vp-1023 {
      width: clamp(215px, 40vw, 360px);
    }

    @include vp-374 {
      width: clamp(50px, 30vw, 125px);

      &--origin {
        display: none;
      }

      &--small {
        display: block;
      }
    }
  }

  .page-nav {
    justify-self: right;

    @include vp-1023 {
      justify-self: center;
    }
  }

  .burger {
    display: none;
  }

  @include vp-1023 {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;

    .burger {
      display: block;
      scale: 1.8;
    }

    &__nav {
      position: absolute;
      z-index: -1;
      top: 100%;
      right: 0;
      left: 0;
      grid-template-columns: minmax(0, 1fr);
      place-items: center;
      height: calc(100vh - var(--header-height));
      padding: 50px clamp(10px, 5vw, 50px);
      background-color: #ffffff;
      font-size: 28px;
      transform: translateY(calc(-100% - var(--header-height)));
      transition: transform $trans-default, opacity $trans-default, visibility $trans-default;
      opacity: 0;
      visibility: hidden;
      overflow: auto;

      @include vp-1023 {
        gap: 45px;
        padding: 100px clamp(10px, 5vw, 50px);
      }
    }

    &.is-opened .header__nav {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }

    .page-nav__list {
      gap: 45px;
    }

    .user-menu {
      display: grid;
      gap: 45px;
    }
  }

  @include vp-767 {
    .burger {
      scale: 1.2;
    }

    &__nav {
      text-align: center;
      gap: 45px;
    }

    .page-nav__list {
      display: grid;
      gap: 45px;
    }
  }


}
