.intro {
  padding: 77px 0 50px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: clamp(20px, 4vw, 60px);
    row-gap: 50px;
    place-items: center;
    align-content: center;
    max-width: 1180px;
    margin: 0 auto;

    @include vp-1023 {
      grid-template-columns: minmax(0, 1fr);
      row-gap: 40px;
    }
  }

  &__content {
    @include vp-1023 {
      display: grid;
      place-items: center;
      text-align: center;
    }
  }

  .title {
    font-weight: 400;
    font-size: 49px;
    line-height: 134%;
    color: #1a202c;

    @include vp-767 {
      font-size: 30px;
    }
  }

  .text {
    margin-top: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    color:#4a5568;
  }

  .button {
    width: 179px;
    height: 52px;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;  
    color: #fafafa;
  }

  .begin-form {
    width: 100%;
    margin-top: 60px;

    @include vp-767 {
      margin-top: 30px;
    }
  }

  &__img {
    @include vp-1023 {
      grid-row: 1;
    }
  }

  &__partners {
    grid-column: 1 / -1;
    display: flex;
    flex-wrap: wrap;
    column-gap: clamp(20px, 4vw, 75px);
    row-gap: 30px;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
