.login-form {
  display: grid;

  .title {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;
    color: #0092be;
  }

  form {
    margin-top: 50px;

    @include vp-767 {
      overflow: hidden;
    }
  }

  &__item {
    margin-top: 24px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__controls {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    gap: 10px;
    margin-top: 10px;

    @include vp-767 {
      grid-template-columns: minmax(0, 1fr);
    }
  }

  &__forget-link {
    justify-self: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  .error-message {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: transparent;
    transition: color $trans-default;
  }

  &__item.is-invalid ~ .login-form__controls .error-message {
    color: #ff0000;
  }

  &__submit {
    margin-top: 30px;
    justify-self: right;
    grid-column: 2;
    padding: 15px 35px;
    border-radius: 10px;

    @include vp-767 {
      grid-column: auto;
      justify-self: center;
    }
  }

  &__note {
    margin-top: 70px;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    color: #9f9f9f;
  }

  .link {
    color: #1ea8e7;
    transition: opacity $trans-default;

    @include hover-focus {
      color: #1ea8e7;
      opacity: 0.6;
    }
  }

  &__account-link {
    font: inherit;
  }
}
