.login {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .container {
    display: flex;
    flex-direction: column;
  }

  .container,
  &__wrapper {
    height: 100%;
    flex-grow: 1;
  }

  &__content {
    @include vp-1023 {
      display: grid;
      grid-row: 1;
      width: 100%;
      max-width: 500px;
    }
  }

  .login-form {
    margin-top: 29px;
  }

  .logo {
    max-width: 340px;
  }

  &__home-btn {
    margin-top: 40px;
    padding: 5px 25px;
    font-weight: 400;
    font-size: 30px;
  }
}
