mixin feedback-form(data = {})
  .feedback-form(data-validate, data-callback="feedback")&attributes(attributes)
    form(action="#" method="post")
      +custom-input({inputLabel: "E-mail", inputPlaceholder: "E-mail", inputName: "email", inputMinLength: "1"}).custom-input--ghost.feedback-form__item(data-validate-type="email", data-required)
      +custom-input({inputLabel: "Телефон", inputPlaceholder: "Телефон", inputName: "phone"}).custom-input--ghost.feedback-form__item(data-validate-type="phone", data-required)
      +custom-checkbox({inputLabel: "Согласен на&nbsp;обработку моих&nbsp;", inputName: "user-agreement", inputId: "id-order-agreement", inputChecked: false}).feedback-form__item(data-validate-type="checkbox", data-required)
        +link({
          href: "agreement.html",
          text: "персональных&nbsp;данных",
          classMods: ["underlined"],
        })
      +button({
        text: "Зарегистрироваться",
        type: "submit",
        modifiers: ["view-accent", "form-round-xs", "uppercase", "weight-700"]
      }).feedback-form__submit
