mixin login-form(data = {})
  .login-form(data-validate, data-callback="feedback")&attributes(attributes)
    +title({
      tag: "h1",
      text: "Добро пожаловать.<br>Приступим!"
    })
    +text({
      content: [
        "Пожалуйста, используйте ваши учетные данные для входа"
      ]
    }).login-form__note
    form(action="#" method="post")
      +custom-input({inputLabel: "Email", inputPlaceholder: "Email", inputName: "email", icon: {name: "icon-email", width: 20, height: 20}}).custom-input--base.login-form__item(data-validate-type="email", data-required)
      +custom-input({inputLabel: "Пароль", inputPlaceholder: "Пароль", inputName: "password", icon: {name: "icon-password", width: 20, height: 20}}).custom-input--base.login-form__item(data-validate-type="text", data-required)
      .login-form__controls
        +link({
          tag: "a",
          href: "#",
          text: "Забыли?",
          modifiers: ["view-accent"]
        }).login-form__forget-link
        .error-message Неверный логин или пароль
        +button({
          text: "Войти",
          type: "submit",
          modifiers: ["view-cta"]
        }).login-form__submit
      .login-form__note
        span Еще не являетесь нашим клиентом? Пожалуйста,
        +link({
          tag: "a",
          href: "error.html",
          text: "зарегистрируйтесь"
        }).login-form__account-link
