mixin user-menu(props = {})
  - const {loginLink, beginBtn, currentUrl} = props

  .user-menu&attributes(attributes)
    - const isActive = currentUrl === loginLink.href
    - const tag = isActive ? "span" : "a"

    +link({
      tag: tag,
      href: loginLink.href,
      text: loginLink.text,
      isActive,
      icon: {
        name: 'icon-new-window',
        width: 16,
        height: 17,
      }
    }).user-menu__login-link

    +button({
      href: beginBtn.href,
      text: beginBtn.text,
      modifiers: ["view-primary", "form-round-xs"],
    }).user-menu__begin-btn
