mixin user-menu(props = {})
  - const {loginLink, beginBtn, currentUrl} = props

  .user-menu&attributes(attributes)
    - const isActive = currentUrl === loginLink.href
    - const tag = isActive ? "span" : "a"

    +button({
      href: beginBtn.href,
      text: beginBtn.text,
      modifiers: ["gradient", "form-round-xs", "weight-600"],
    }).user-menu__begin-btn
