.container {
  --container-offset: #{$offset-container-desktop};

  width: 100%;
  max-width: 1372px;
  margin: 0 auto;
  padding: 0 var(--container-offset);

  &--wide {
    max-width: calc(1920px + var(--container-offset));
  }

  @include vp-1439 {
    --container-offset: #{$offset-container-tablet};
  }

  @include vp-1023 {
    --container-offset: #{$offset-container-tablet-small};
  }

  @include vp-767 {
    --container-offset: #{$offset-container-mobile};
  }
}
