mixin header(headerMods, currentUrl)
  - const isIndex = currentUrl == "index.html";
  -
    const params = {
      logoOrigin: {
        isIndex,
        img: {
          path: "content/logo",
          name: "logo",
          format: "png",
          width: "366",
          height: "127",
          altText: "Перейти на главную страницу"
        }
      },
      logoSmall: {
        isIndex,
        img: {
          path: "content/logo",
          name: "logo-small",
          format: "png",
          width: "125",
          height: "92",
          altText: "Перейти на главную страницу"
        }
      },
      pageNav: {
        navList: {
          currentUrl,
          links: [
            {
              href: "tel:+7 (925) - 001-00-24",
              text: "+7 (925) - 001-00-24"
            },
            {
              href: "mailto:info@bangara.ru",
              text: "info@bangara.ru"
            },
            {
              href: "index.html",
              text: "Главная"
            },
            {
              href: "#contacts",
              text: "Контакты"
            },
          ]
        }
      },
      userMenu: {
        loginLink: {
          href: "login.html",
          text: "Личный кабинет"
        },
        beginBtn: {
          href: "login.html",
          text: "Личный кабинет"
        }
      }
    }

  header.header(class=headerMods, data-page-nav="container")
    .container
      .header__inner-wrapper
        +logo(params.logoOrigin).logo--origin
        +logo(params.logoSmall).logo--small
        +burger().header__toggle(data-page-nav="toggle")
        .header__nav(data-page-nav="content")
          +page-nav(params.pageNav)
          +user-menu(params.userMenu)
