.title {
  --font-weight: inherit;
  --font-size: inherit;
  --line-height: inherit;
  --letter-spacing: inherit;

  margin: 0;
  padding: 0;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);

  &--medium {
    font-weight: 800;
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: -0.03em;
  }

  &-gradient {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    &--pink {
      background-image: linear-gradient(180deg, #de4396 0%, rgba(13, 28, 159, 0) 100%);

    } 
    &--blue {
      background-image: linear-gradient(225deg, #f7666f 0%, #406aff 100%);
    }
  }
}
