//- Base

include ./base/header
include ./base/page-nav
include ./base/nav-list
include ./base/footer

//- Blocks

include ./blocks/agent-intro
include ./blocks/intro
include ./blocks/about-intro
include ./blocks/blockquote
include ./blocks/in-work
include ./blocks/login
include ./blocks/automation
include ./blocks/opportunities
include ./blocks/about
include ./blocks/features
include ./blocks/agreement
include ./blocks/examples

//- Mixins

include ./mixins/user-menu
include ./mixins/feedback-form
include ./mixins/login-form
include ./mixins/begin-form
include ./mixins/custom-input
include ./mixins/custom-checkbox
include ./mixins/details
include ./mixins/burger

//- Utils

include ./utils/icon
include ./utils/picture

//- Components

include ../../components/logo/logo
include ../../components/links/link/link
include ../../components/buttons/button/button
include ../../components/buttons/icon-button/icon-button
include ../../components/title/title
include ../../components/text/text
